header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

    img {
        height: 50px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 600;

        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.darkLinks {
    a {
        color: black;

        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}